@font-face {
  font-family: "Flaticon";
  src: url('Flaticon.eot?t=1686281642323'); /* IE9*/
  src: url('Flaticon.eot?t=1686281642323#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("Flaticon.woff2?t=1686281642323") format("woff2"),
  url("Flaticon.woff?t=1686281642323") format("woff"),
  url('Flaticon.ttf?t=1686281642323') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('Flaticon.svg?t=1686281642323#Flaticon') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Flaticon' !important;
  font-size:1.2em;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-activity:before { content: "\ea01"; }
.icon-add-file:before { content: "\ea02"; }
.icon-add-folder:before { content: "\ea03"; }
.icon-add-list:before { content: "\ea04"; }
.icon-add-user:before { content: "\ea05"; }
.icon-address-book:before { content: "\ea06"; }
.icon-adventures:before { content: "\ea07"; }
.icon-align-bottom:before { content: "\ea08"; }
.icon-align-center:before { content: "\ea09"; }
.icon-align-justify:before { content: "\ea0a"; }
.icon-align-left:before { content: "\ea0b"; }
.icon-align-middle:before { content: "\ea0c"; }
.icon-align-right:before { content: "\ea0d"; }
.icon-align-top:before { content: "\ea0e"; }
.icon-allocations:before { content: "\ea0f"; }
.icon-ammo-tin:before { content: "\ea10"; }
.icon-android:before { content: "\ea11"; }
.icon-answers:before { content: "\ea12"; }
.icon-approval:before { content: "\ea13"; }
.icon-assistant:before { content: "\ea14"; }
.icon-attach:before { content: "\ea15"; }
.icon-attention:before { content: "\ea16"; }
.icon-average-math:before { content: "\ea17"; }
.icon-back:before { content: "\ea18"; }
.icon-bank:before { content: "\ea19"; }
.icon-banknotes:before { content: "\ea1a"; }
.icon-bar-chart:before { content: "\ea1b"; }
.icon-barcode:before { content: "\ea1c"; }
.icon-benefit:before { content: "\ea1d"; }
.icon-bill:before { content: "\ea1e"; }
.icon-birthday-cake:before { content: "\ea1f"; }
.icon-board:before { content: "\ea20"; }
.icon-book:before { content: "\ea21"; }
.icon-booking:before { content: "\ea22"; }
.icon-bookmark:before { content: "\ea23"; }
.icon-bookmarks:before { content: "\ea24"; }
.icon-borrow-book:before { content: "\ea25"; }
.icon-box-filled:before { content: "\ea26"; }
.icon-box:before { content: "\ea27"; }
.icon-braille-h:before { content: "\ea28"; }
.icon-braille:before { content: "\ea29"; }
.icon-brush:before { content: "\ea2a"; }
.icon-builder:before { content: "\ea2b"; }
.icon-bulleted-list:before { content: "\ea2c"; }
.icon-bureau:before { content: "\ea2d"; }
.icon-business:before { content: "\ea2e"; }
.icon-calculator:before { content: "\ea2f"; }
.icon-calendar:before { content: "\ea30"; }
.icon-calendars:before { content: "\ea31"; }
.icon-call-incoming:before { content: "\ea32"; }
.icon-call-missed:before { content: "\ea33"; }
.icon-call-outgoing:before { content: "\ea34"; }
.icon-callback:before { content: "\ea35"; }
.icon-camera:before { content: "\ea36"; }
.icon-cancel-circle:before { content: "\ea37"; }
.icon-cancel-file:before { content: "\ea38"; }
.icon-cancel:before { content: "\ea39"; }
.icon-caret-down-round:before { content: "\ea3a"; }
.icon-caret-down:before { content: "\ea3b"; }
.icon-caret-left-round:before { content: "\ea3c"; }
.icon-caret-left:before { content: "\ea3d"; }
.icon-caret-right-round:before { content: "\ea3e"; }
.icon-caret-right:before { content: "\ea3f"; }
.icon-caret-up-round:before { content: "\ea40"; }
.icon-caret-up:before { content: "\ea41"; }
.icon-cast:before { content: "\ea42"; }
.icon-centre-of-gravity:before { content: "\ea43"; }
.icon-channel-mosaic:before { content: "\ea44"; }
.icon-channel-mosaics:before { content: "\ea45"; }
.icon-chart-area:before { content: "\ea46"; }
.icon-chart-bar:before { content: "\ea47"; }
.icon-chart-collumn:before { content: "\ea48"; }
.icon-chart-column:before { content: "\ea49"; }
.icon-chart-doughnut:before { content: "\ea4a"; }
.icon-chart-line:before { content: "\ea4b"; }
.icon-chart-pie:before { content: "\ea4c"; }
.icon-chat:before { content: "\ea4d"; }
.icon-check-file:before { content: "\ea4e"; }
.icon-check:before { content: "\ea4f"; }
.icon-checked-user:before { content: "\ea50"; }
.icon-checked:before { content: "\ea51"; }
.icon-checklist:before { content: "\ea52"; }
.icon-checkmark:before { content: "\ea53"; }
.icon-checkout:before { content: "\ea54"; }
.icon-christmas-star:before { content: "\ea55"; }
.icon-classroom:before { content: "\ea56"; }
.icon-clipboard-check:before { content: "\ea57"; }
.icon-clipboard-empty:before { content: "\ea58"; }
.icon-clipboard-plus:before { content: "\ea59"; }
.icon-clipboard:before { content: "\ea5a"; }
.icon-clock:before { content: "\ea5b"; }
.icon-clone:before { content: "\ea5c"; }
.icon-cloud:before { content: "\ea5d"; }
.icon-code:before { content: "\ea5e"; }
.icon-coins:before { content: "\ea5f"; }
.icon-collapse-arrow:before { content: "\ea60"; }
.icon-combo-chart:before { content: "\ea61"; }
.icon-comment:before { content: "\ea62"; }
.icon-comments:before { content: "\ea63"; }
.icon-compare:before { content: "\ea64"; }
.icon-compass:before { content: "\ea65"; }
.icon-complete:before { content: "\ea66"; }
.icon-compress-arrows:before { content: "\ea67"; }
.icon-compress:before { content: "\ea68"; }
.icon-computer:before { content: "\ea69"; }
.icon-conference-call:before { content: "\ea6a"; }
.icon-conflict:before { content: "\ea6b"; }
.icon-connect:before { content: "\ea6c"; }
.icon-contact-card:before { content: "\ea6d"; }
.icon-contacts:before { content: "\ea6e"; }
.icon-contract-job:before { content: "\ea6f"; }
.icon-copy:before { content: "\ea70"; }
.icon-courses:before { content: "\ea71"; }
.icon-create-new:before { content: "\ea72"; }
.icon-crib:before { content: "\ea73"; }
.icon-cup:before { content: "\ea74"; }
.icon-currency-exchange:before { content: "\ea75"; }
.icon-curriculum:before { content: "\ea76"; }
.icon-dashboard:before { content: "\ea77"; }
.icon-database:before { content: "\ea78"; }
.icon-day-view:before { content: "\ea79"; }
.icon-deadline:before { content: "\ea7a"; }
.icon-delete-file:before { content: "\ea7b"; }
.icon-delete:before { content: "\ea7c"; }
.icon-department:before { content: "\ea7d"; }
.icon-descending-sorting:before { content: "\ea7e"; }
.icon-deviation:before { content: "\ea7f"; }
.icon-diagram:before { content: "\ea80"; }
.icon-dialpad:before { content: "\ea81"; }
.icon-diploma:before { content: "\ea82"; }
.icon-discount:before { content: "\ea83"; }
.icon-doctors-bag:before { content: "\ea84"; }
.icon-document:before { content: "\ea85"; }
.icon-doing:before { content: "\ea86"; }
.icon-double-down:before { content: "\ea87"; }
.icon-double-left:before { content: "\ea88"; }
.icon-double-right:before { content: "\ea89"; }
.icon-double-up:before { content: "\ea8a"; }
.icon-doughnut-chart:before { content: "\ea8b"; }
.icon-down-left:before { content: "\ea8c"; }
.icon-down-right:before { content: "\ea8d"; }
.icon-down:before { content: "\ea8e"; }
.icon-download-from-the-cloud:before { content: "\ea8f"; }
.icon-download:before { content: "\ea90"; }
.icon-droplet:before { content: "\ea91"; }
.icon-edit-file:before { content: "\ea92"; }
.icon-edit-user:before { content: "\ea93"; }
.icon-edit:before { content: "\ea94"; }
.icon-email-historie:before { content: "\ea95"; }
.icon-empty-box:before { content: "\ea96"; }
.icon-enter:before { content: "\ea97"; }
.icon-entering-geo-fence:before { content: "\ea98"; }
.icon-environment:before { content: "\ea99"; }
.icon-erase:before { content: "\ea9a"; }
.icon-error:before { content: "\ea9b"; }
.icon-exclamation-cirlce:before { content: "\ea9c"; }
.icon-exit:before { content: "\ea9d"; }
.icon-expand-arrow:before { content: "\ea9e"; }
.icon-expand-arrows:before { content: "\ea9f"; }
.icon-expand:before { content: "\eaa0"; }
.icon-export:before { content: "\eaa1"; }
.icon-export1:before { content: "\eaa2"; }
.icon-exterior:before { content: "\eaa3"; }
.icon-external-link:before { content: "\eaa4"; }
.icon-eyedropper:before { content: "\eaa5"; }
.icon-feedback:before { content: "\eaa6"; }
.icon-file-alt:before { content: "\eaa7"; }
.icon-file-medical:before { content: "\eaa8"; }
.icon-file:before { content: "\eaa9"; }
.icon-filter:before { content: "\eaaa"; }
.icon-filters:before { content: "\eaab"; }
.icon-find-user:before { content: "\eaac"; }
.icon-flag:before { content: "\eaad"; }
.icon-flow-chart:before { content: "\eaae"; }
.icon-flow:before { content: "\eaaf"; }
.icon-folder-open:before { content: "\eab0"; }
.icon-folder-plus:before { content: "\eab1"; }
.icon-folder:before { content: "\eab2"; }
.icon-font:before { content: "\eab3"; }
.icon-form-auto:before { content: "\eab4"; }
.icon-forward-arrow:before { content: "\eab5"; }
.icon-forward:before { content: "\eab6"; }
.icon-full-moon:before { content: "\eab7"; }
.icon-fullscreen:before { content: "\eab8"; }
.icon-future:before { content: "\eab9"; }
.icon-galaxy:before { content: "\eaba"; }
.icon-gantt-chart:before { content: "\eabb"; }
.icon-gantt:before { content: "\eabc"; }
.icon-gender-neutral-user:before { content: "\eabd"; }
.icon-geo-fence:before { content: "\eabe"; }
.icon-gg:before { content: "\eabf"; }
.icon-gift-card:before { content: "\eac0"; }
.icon-gift:before { content: "\eac1"; }
.icon-global:before { content: "\eac2"; }
.icon-goal:before { content: "\eac3"; }
.icon-google-translate:before { content: "\eac4"; }
.icon-gps-device:before { content: "\eac5"; }
.icon-grid:before { content: "\eac6"; }
.icon-groups:before { content: "\eac7"; }
.icon-guest:before { content: "\eac8"; }
.icon-happy:before { content: "\eac9"; }
.icon-hashtag:before { content: "\eaca"; }
.icon-hashtags-list:before { content: "\eacb"; }
.icon-header:before { content: "\eacc"; }
.icon-headset:before { content: "\eacd"; }
.icon-health-book:before { content: "\eace"; }
.icon-hearts:before { content: "\eacf"; }
.icon-help-circle:before { content: "\ead0"; }
.icon-help:before { content: "\ead1"; }
.icon-helping-hand:before { content: "\ead2"; }
.icon-high-priority:before { content: "\ead3"; }
.icon-history:before { content: "\ead4"; }
.icon-home:before { content: "\ead5"; }
.icon-hospital-3:before { content: "\ead6"; }
.icon-icon-user:before { content: "\ead7"; }
.icon-imac:before { content: "\ead8"; }
.icon-image:before { content: "\ead9"; }
.icon-import:before { content: "\eada"; }
.icon-import1:before { content: "\eadb"; }
.icon-indent-decrease:before { content: "\eadc"; }
.icon-indent-increase:before { content: "\eadd"; }
.icon-indent:before { content: "\eade"; }
.icon-info:before { content: "\eadf"; }
.icon-insert-table:before { content: "\eae0"; }
.icon-installing-updates:before { content: "\eae1"; }
.icon-invite:before { content: "\eae2"; }
.icon-invoice:before { content: "\eae3"; }
.icon-ios:before { content: "\eae4"; }
.icon-kanban:before { content: "\eae5"; }
.icon-key:before { content: "\eae6"; }
.icon-laptop:before { content: "\eae7"; }
.icon-layers:before { content: "\eae8"; }
.icon-leave:before { content: "\eae9"; }
.icon-left:before { content: "\eaea"; }
.icon-length:before { content: "\eaeb"; }
.icon-less-or-equal:before { content: "\eaec"; }
.icon-less-than:before { content: "\eaed"; }
.icon-level-up:before { content: "\eaee"; }
.icon-life-cycle:before { content: "\eaef"; }
.icon-light-on:before { content: "\eaf0"; }
.icon-line-chart:before { content: "\eaf1"; }
.icon-link:before { content: "\eaf2"; }
.icon-list-circle:before { content: "\eaf3"; }
.icon-list-numbered:before { content: "\eaf4"; }
.icon-list-square:before { content: "\eaf5"; }
.icon-list:before { content: "\eaf6"; }
.icon-loading-circle:before { content: "\eaf7"; }
.icon-loading-sign:before { content: "\eaf8"; }
.icon-lock:before { content: "\eaf9"; }
.icon-logo:before { content: "\eafa"; }
.icon-low-importance:before { content: "\eafb"; }
.icon-lowest-price:before { content: "\eafc"; }
.icon-magic:before { content: "\eafd"; }
.icon-manager:before { content: "\eafe"; }
.icon-map-marker-s:before { content: "\eaff"; }
.icon-map-marker:before { content: "\eb00"; }
.icon-mark-as-favorite:before { content: "\eb01"; }
.icon-marker:before { content: "\eb02"; }
.icon-market:before { content: "\eb03"; }
.icon-math:before { content: "\eb04"; }
.icon-medium-priority:before { content: "\eb05"; }
.icon-medium-volume:before { content: "\eb06"; }
.icon-menu-boxs:before { content: "\eb07"; }
.icon-menu-horizontal:before { content: "\eb08"; }
.icon-menu-vertical:before { content: "\eb09"; }
.icon-menu:before { content: "\eb0a"; }
.icon-merge-files:before { content: "\eb0b"; }
.icon-message:before { content: "\eb0c"; }
.icon-microphone-off:before { content: "\eb0d"; }
.icon-microphone:before { content: "\eb0e"; }
.icon-minus-circle:before { content: "\eb0f"; }
.icon-minus-math:before { content: "\eb10"; }
.icon-minus:before { content: "\eb11"; }
.icon-mms:before { content: "\eb12"; }
.icon-mobile:before { content: "\eb13"; }
.icon-money-bag:before { content: "\eb14"; }
.icon-money-box:before { content: "\eb15"; }
.icon-money-transfer:before { content: "\eb16"; }
.icon-more-or-equal:before { content: "\eb17"; }
.icon-more-than:before { content: "\eb18"; }
.icon-more:before { content: "\eb19"; }
.icon-move-by-trolley:before { content: "\eb1a"; }
.icon-move:before { content: "\eb1b"; }
.icon-multiply:before { content: "\eb1c"; }
.icon-mute:before { content: "\eb1d"; }
.icon-name:before { content: "\eb1e"; }
.icon-negative-dynamic:before { content: "\eb1f"; }
.icon-new-post:before { content: "\eb20"; }
.icon-new:before { content: "\eb21"; }
.icon-news:before { content: "\eb22"; }
.icon-not-complete:before { content: "\eb23"; }
.icon-note:before { content: "\eb24"; }
.icon-notify:before { content: "\eb25"; }
.icon-numbered-list:before { content: "\eb26"; }
.icon-ok:before { content: "\eb27"; }
.icon-omnichannel:before { content: "\eb28"; }
.icon-one-finger:before { content: "\eb29"; }
.icon-open-folder:before { content: "\eb2a"; }
.icon-open-in-window:before { content: "\eb2b"; }
.icon-order:before { content: "\eb2c"; }
.icon-orders:before { content: "\eb2d"; }
.icon-organization:before { content: "\eb2e"; }
.icon-outdent:before { content: "\eb2f"; }
.icon-overtime:before { content: "\eb30"; }
.icon-page-overview-4:before { content: "\eb31"; }
.icon-page-overview:before { content: "\eb32"; }
.icon-paint-bucket:before { content: "\eb33"; }
.icon-paint:before { content: "\eb34"; }
.icon-parallel-tasks:before { content: "\eb35"; }
.icon-partnership:before { content: "\eb36"; }
.icon-past:before { content: "\eb37"; }
.icon-paste-special:before { content: "\eb38"; }
.icon-paste:before { content: "\eb39"; }
.icon-path-steps:before { content: "\eb3a"; }
.icon-pause:before { content: "\eb3b"; }
.icon-pencil:before { content: "\eb3c"; }
.icon-pending:before { content: "\eb3d"; }
.icon-percentage:before { content: "\eb3e"; }
.icon-personnel:before { content: "\eb3f"; }
.icon-phone-volume:before { content: "\eb40"; }
.icon-phone:before { content: "\eb41"; }
.icon-pie-chart:before { content: "\eb42"; }
.icon-pin-2:before { content: "\eb43"; }
.icon-pin:before { content: "\eb44"; }
.icon-planner:before { content: "\eb45"; }
.icon-play:before { content: "\eb46"; }
.icon-plus-circle:before { content: "\eb47"; }
.icon-plus-math:before { content: "\eb48"; }
.icon-plus-minus:before { content: "\eb49"; }
.icon-plus:before { content: "\eb4a"; }
.icon-present:before { content: "\eb4b"; }
.icon-price-list:before { content: "\eb4c"; }
.icon-print:before { content: "\eb4d"; }
.icon-product:before { content: "\eb4e"; }
.icon-project:before { content: "\eb4f"; }
.icon-purchase-order:before { content: "\eb50"; }
.icon-question-shield:before { content: "\eb51"; }
.icon-questions-circle:before { content: "\eb52"; }
.icon-questions:before { content: "\eb53"; }
.icon-reading:before { content: "\eb54"; }
.icon-realtime-protection:before { content: "\eb55"; }
.icon-recurring-appointment:before { content: "\eb56"; }
.icon-redo:before { content: "\eb57"; }
.icon-refresh:before { content: "\eb58"; }
.icon-remove-user:before { content: "\eb59"; }
.icon-repeat:before { content: "\eb5a"; }
.icon-reply-all-arrow:before { content: "\eb5b"; }
.icon-reply-arrow:before { content: "\eb5c"; }
.icon-reply:before { content: "\eb5d"; }
.icon-resize-diagonal:before { content: "\eb5e"; }
.icon-resize-four-directions:before { content: "\eb5f"; }
.icon-resize-horizontal:before { content: "\eb60"; }
.icon-resize-vertical:before { content: "\eb61"; }
.icon-restart:before { content: "\eb62"; }
.icon-return:before { content: "\eb63"; }
.icon-review:before { content: "\eb64"; }
.icon-reviewer:before { content: "\eb65"; }
.icon-right:before { content: "\eb66"; }
.icon-round-forward:before { content: "\eb67"; }
.icon-round-toward:before { content: "\eb68"; }
.icon-sale:before { content: "\eb69"; }
.icon-sales-performance:before { content: "\eb6a"; }
.icon-save:before { content: "\eb6b"; }
.icon-scales:before { content: "\eb6c"; }
.icon-school:before { content: "\eb6d"; }
.icon-screenshot:before { content: "\eb6e"; }
.icon-search:before { content: "\eb6f"; }
.icon-security-checked:before { content: "\eb70"; }
.icon-sell-property:before { content: "\eb71"; }
.icon-sell-stock:before { content: "\eb72"; }
.icon-send-file:before { content: "\eb73"; }
.icon-sent:before { content: "\eb74"; }
.icon-settings:before { content: "\eb75"; }
.icon-share:before { content: "\eb76"; }
.icon-shield:before { content: "\eb77"; }
.icon-shipped:before { content: "\eb78"; }
.icon-shop:before { content: "\eb79"; }
.icon-shopping-bag:before { content: "\eb7a"; }
.icon-shrink:before { content: "\eb7b"; }
.icon-slider-2:before { content: "\eb7c"; }
.icon-slider:before { content: "\eb7d"; }
.icon-sms-histories:before { content: "\eb7e"; }
.icon-sms:before { content: "\eb7f"; }
.icon-social-company-fill:before { content: "\eb80"; }
.icon-social-company:before { content: "\eb81"; }
.icon-social-external-fill:before { content: "\eb82"; }
.icon-social-external:before { content: "\eb83"; }
.icon-social-flag-fill:before { content: "\eb84"; }
.icon-social-flag:before { content: "\eb85"; }
.icon-social-flow-fill:before { content: "\eb86"; }
.icon-social-flow:before { content: "\eb87"; }
.icon-social-group-fill:before { content: "\eb88"; }
.icon-social-group:before { content: "\eb89"; }
.icon-social-home-fill:before { content: "\eb8a"; }
.icon-social-home:before { content: "\eb8b"; }
.icon-social-user-fill:before { content: "\eb8c"; }
.icon-social-user:before { content: "\eb8d"; }
.icon-sort-alpha-down:before { content: "\eb8e"; }
.icon-sort-alpha-up:before { content: "\eb8f"; }
.icon-sort-numeric-down:before { content: "\eb90"; }
.icon-sort-numeric-up:before { content: "\eb91"; }
.icon-source-code:before { content: "\eb92"; }
.icon-space:before { content: "\eb93"; }
.icon-speaker:before { content: "\eb94"; }
.icon-speech-bubble:before { content: "\eb95"; }
.icon-square:before { content: "\eb96"; }
.icon-star:before { content: "\eb97"; }
.icon-start:before { content: "\eb98"; }
.icon-statistics:before { content: "\eb99"; }
.icon-stopwatch:before { content: "\eb9a"; }
.icon-strikethrough:before { content: "\eb9b"; }
.icon-suitcase:before { content: "\eb9c"; }
.icon-support:before { content: "\eb9d"; }
.icon-surface:before { content: "\eb9e"; }
.icon-survey:before { content: "\eb9f"; }
.icon-suv:before { content: "\eba0"; }
.icon-sync:before { content: "\eba1"; }
.icon-synchronize:before { content: "\eba2"; }
.icon-table:before { content: "\eba3"; }
.icon-tablet:before { content: "\eba4"; }
.icon-tag:before { content: "\eba5"; }
.icon-task:before { content: "\eba6"; }
.icon-tasks:before { content: "\eba7"; }
.icon-template:before { content: "\eba8"; }
.icon-text-bold:before { content: "\eba9"; }
.icon-text-height:before { content: "\ebaa"; }
.icon-text-italic:before { content: "\ebab"; }
.icon-text-strikethrough:before { content: "\ebac"; }
.icon-text-underline:before { content: "\ebad"; }
.icon-text-width:before { content: "\ebae"; }
.icon-th-list:before { content: "\ebaf"; }
.icon-theme:before { content: "\ebb0"; }
.icon-thumb-up:before { content: "\ebb1"; }
.icon-thumbnails:before { content: "\ebb2"; }
.icon-thumbnailss:before { content: "\ebb3"; }
.icon-thumbs-down:before { content: "\ebb4"; }
.icon-time:before { content: "\ebb5"; }
.icon-today:before { content: "\ebb6"; }
.icon-todo-list:before { content: "\ebb7"; }
.icon-tools:before { content: "\ebb8"; }
.icon-top-menu:before { content: "\ebb9"; }
.icon-topic:before { content: "\ebba"; }
.icon-toward:before { content: "\ebbb"; }
.icon-track-order:before { content: "\ebbc"; }
.icon-transfer:before { content: "\ebbd"; }
.icon-tree-structure:before { content: "\ebbe"; }
.icon-tv:before { content: "\ebbf"; }
.icon-umbrella:before { content: "\ebc0"; }
.icon-underline:before { content: "\ebc1"; }
.icon-undo:before { content: "\ebc2"; }
.icon-uninstalling-updates:before { content: "\ebc3"; }
.icon-unlink:before { content: "\ebc4"; }
.icon-unlock:before { content: "\ebc5"; }
.icon-up-left:before { content: "\ebc6"; }
.icon-up-right:before { content: "\ebc7"; }
.icon-up:before { content: "\ebc8"; }
.icon-upload-to-the-cloud:before { content: "\ebc9"; }
.icon-upload:before { content: "\ebca"; }
.icon-url:before { content: "\ebcb"; }
.icon-us-dollar:before { content: "\ebcc"; }
.icon-user-cog:before { content: "\ebcd"; }
.icon-user-female:before { content: "\ebce"; }
.icon-user-group:before { content: "\ebcf"; }
.icon-user-groups:before { content: "\ebd0"; }
.icon-user-male:before { content: "\ebd1"; }
.icon-user-menu:before { content: "\ebd2"; }
.icon-user:before { content: "\ebd3"; }
.icon-view-file:before { content: "\ebd4"; }
.icon-voucher:before { content: "\ebd5"; }
.icon-wall-company:before { content: "\ebd6"; }
.icon-wall:before { content: "\ebd7"; }
.icon-wallet:before { content: "\ebd8"; }
.icon-warehouse:before { content: "\ebd9"; }
.icon-warning-circle:before { content: "\ebda"; }
.icon-warning-triangle:before { content: "\ebdb"; }
.icon-warranty:before { content: "\ebdc"; }
.icon-watch:before { content: "\ebdd"; }
.icon-workflow:before { content: "\ebde"; }
.icon-workspace:before { content: "\ebdf"; }
.icon-xbox-cross:before { content: "\ebe0"; }
.icon-xbox-menu:before { content: "\ebe1"; }
.icon-zoom-in:before { content: "\ebe2"; }
.icon-zoom-out:before { content: "\ebe3"; }
